body {
    margin:10% 25%;
    background-color: #1b1717dc;
}
form {
    border: #fd7c03 2px solid;
    margin: auto;
    padding: 5% 30% 5% 30%;
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;
}
.botones {
    border-radius: 5px;
    border: #ffffff 2px solid;
    font-size: 100%;
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
}
.botones:hover {
border: #fd7c03 2px solid;
}
p {
    border: #ffffff 2px solid;
    font-size: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    color: #000000;
}